<!-- include jquery -->
{% js jquery-1.11.2.min %}
<!-- Bootstrap Core JavaScript -->
{% js bootstrap.min  %}

<!-- Plugin JavaScript -->
{% js jquery.easing.min  %}
{% js jquery.tinycarousel.min  %}
{% js jquery.lazylinepainter.min  %}
{% js jquery.mousewheel.min  %}
{% js jquery.magnific-popup  %}
{% js jquery.cycle.min  %}

<!-- include Masonry -->
{% js isotope.pkgd.min  %}
{% js fit-columns  %}
{% js modernizr  %}

<!-- include menu animation -->
{% js classie  %}
{% js cbpAnimatedHeader.min  %}

<!-- include kenburns plugins -->
{% js kenburns.min  %}


<!-- include custom script -->
{% js infinitescroll  %}
{% js on-page-scroll  %}
{% js kenburns-gallery  %}


<!-- include fullcalandar script -->
{% js moment.min  %}
{% js fullcalendar  %}
{% js fullcalendar-fr-ca  %}
{% js fullcalendar-gcal  %}


<!-- include contact-forms script -->

{% js contact-forms %}

<script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        header: {
            center: 'month,listMonth' // buttons for switching between views
        },

        views: {
            listMonth: {
                type: 'agenda',
                buttonText: 'Liste'
            }
        }
        
        // put your options and callbacks here
        /* // Example of googleCalandar usage
        googleCalendarApiKey: '<YOUR API KEY>',
        eventSources: [
            {
                googleCalendarId: 'abcd1234@group.calendar.google.com',
                eventColor: '#378006'
            },
            {
                googleCalendarId: 'efgh5678@group.calendar.google.com',
                className: 'nice-event',
                eventColor: '#378006'
            }
        ]*/
    })

});
</script>
