<!-- include jquery -->
{% js js/jquery-1.11.2.min %}
<!-- Bootstrap Core JavaScript -->
{% js js/bootstrap.min  %}

<!-- Plugin JavaScript -->
{% js js/jquery.easing.min  %}
{% js js/jquery.tinycarousel.min  %}
{% js js/jquery.lazylinepainter.min  %}
{% js js/jquery.mousewheel.min  %}
{% js js/jquery.magnific-popup  %}
{% js js/jquery.cycle.min  %}

<!-- include Masonry -->
{% js js/isotope.pkgd.min  %}
{% js js/fit-columns  %}
{% js js/modernizr  %}
{% js js/infinitescroll  %}

<!-- include menu animation -->
{% js js/classie  %}
{% js js/cbpAnimatedHeader.min  %}
{% js js/on-page-scroll  %}

<!-- include kenburns plugins -->
{% js js/kenburns.min  %}


<!-- include custom script -->
{% js js/kenburns-gallery  %}
