
<!-- include jquery -->
<script src="{{ site.url }}/js/jquery-1.11.2.min.js"></script> 

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/js/jquery.easing.min.js" | prepend: site.url }}"></script>

<!-- include Masonry -->
<script src="{{ site.url }}/js/isotope.pkgd.min.js"></script> 
<script src="{{ site.url }}/js/fit-columns.js"></script>
<script src="{{ site.url }}/js/modernizr.js"></script>
<!-- include infinitscroll plugins -->
<script src="{{ site.url }}/js/infinitescroll.js"></script>

<script src="{{ site.url }}/js/classie.js"></script>
<script src="{{ site.url }}/js/cbpAnimatedHeader.min.js"></script>
<script src="{{ site.url }}/js/on-page-scroll.js"></script>


<!-- include gallery cycle plugin -->
<script src="{{ site.baseurl }}/js/jquery.tinycarousel.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.lazylinepainter.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.mousewheel.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/js/jquery.cycle.min.js"></script>
<!-- include kenburns plugins -->
<script src="{{ site.baseurl }}/js/kenburns.min.js"></script>
<!-- include custom script -->
<script src="{{ site.baseurl }}/js/kenburns-gallery.js"></script>
