<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{{ site.data.general-settings.site-logo }}" class="navbar-logo" alt="{{ site.data.general-settings.site-title }}"/>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-size">
                
		  {% if page.url == "/" %}                
		    <li>
		      <a class="page-scroll" href="#page-top">Accueil</a>
                    </li>
		  {% else %}
		    <li>
		      <a class="page-scroll" href="/{{ site.baseurl }}">Accueil</a>
                    </li>
		  {% endif %}
                    
            {% for nav_item in site.data.sitemenu.scrollnav %}
			{% if nav_item.label != "hidden" %}
			  {% if page.url == "/" %}                
			    <li>
			      <a class="page-scroll" href="#{{ nav_item.path }}">{{ nav_item.label }}</a>
			    </li>
			  {% else %}
			    <li>
			      <a class="page-scroll" href="/{{ site.baseurl }}#{{ nav_item.path }}">{{ nav_item.label }}</a>
			    </li>
			  {% endif %}
			{% endif %}
            {% endfor %}
                    
            {% for nav_item  in site.data.sitemenu.pagesnav %}
            {% assign complete_nav_path = nav_item.path | append: "/" %}
			{% if page.url == complete_nav_path %}
			  <li>
			    <a class="page-scroll" href="#page-top">{{ nav_item.label }}</a>
			  </li>
			{% else %}
			  <li>
			    <a class="page-scroll" href="{{ site.baseurl }}{{ nav_item.path }}">{{ nav_item.label }}</a>
			  </li>
			{% endif %}
		    {% endfor %}
		    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

