/**
 * Home sections
 */

.section-a-background {
        background-color: $section-a-background-color;
}

.section-b-background {
    background-color: $section-b-background-color;
} 

section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: $secondary-font-family;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:$on-more-than-palm-width) {
    section {
        padding: 150px 0;
    }
}
