---
layout: default
---

    {% for navscroll_item in site.data.sitemenu.scrollnav %}
        {% if navscroll_item.label != "hidden" %}
        <!-- {{ navscroll_item.label }} Section -->
        {% endif %}
        {% if sectionbgcolor == "section-a-background" %}
            {% assign sectionbgcolor = "section-b-background" %}
        {% else %}
            {% assign sectionbgcolor = "section-a-background" %}
        {% endif %}
    <homesection id="{{ navscroll_item.path }}" class="{{sectionbgcolor}}">
        <div class="container">
        {% if navscroll_item.label != "hidden" %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ navscroll_item.label }}</h2>
                </div>
            </div>
        {% endif %}
            <div class="row">
                <div class="col-lg-12 text-justify">
            {% capture includescrollelement %}home-section/{{ navscroll_item.path }}.md{% endcapture %}
            {% capture pagecaptured %}{% include {{ includescrollelement }} %} {% endcapture %}
            {{ pagecaptured | markdownify }}
                </div>
            </div>
        </div>
    </homesection>
    {% endfor %}
    
    {{ content }}
